<div>
    <h1>
        Tech Blog
    </h1>
    <nav>
        <ul>
            <li>
                <a>Homepage</a>
            </li>
            <li>
                <a>Dashboard</a>
            </li>
            <li>
                <a>Log In</a>
            </li>
        </ul>
    </nav>
</div>