.header {
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    background: #1a73bc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

.header a {
    color: black;
    font-size: 24px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 2px 16px;
    justify-content: space-evenly;
}

.container-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 2px 16px;
    justify-content: space-evenly;
    
}

.container-nav li {
    padding: 20px;
    display: block;
}

.container-nav button {
    appearance: none;
    font-size: 24px;
    text-decoration: underline;
    font-family: inherit;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

.post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-container li {
    display: block;
}

.card {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    background-color: rgb(247, 247, 235);
    padding: 10px;
    margin: 10px;
}

.card a {
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.add-post-btn {
    margin-left: 50px;
}

.add-post-btn a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.comment-form {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    background-color: rgb(247, 247, 235);
}

.comment-form input {
    width: 300px;
}

.new-post-form {
    display: flex;
    flex-direction: column;
}

.new-post-form input {
    width: 50vw;
}
.new-post-form button {
    width: 100px;
}