<div>
    <div>
        <h2>post title</h2>
        <p>post creater username</p>
        <p>date created</p>
        <p>post text</p>
    </div>
    <div>
        <form>
            comment form here
        </form>
    </div>
    
</div>