<div>
    <div>
        <h2>Your Posts</h2>
        <ul class="post-container">
            {{#each posts as |post|}}
            <li class="card">
                <a href='/dashboard/{{post.id}}'>Title {{post.title}}</a>
                <p>{{post.body}}</p>
                <p>created on {{post.created_at}}</p>
            </li>
            {{/each}}
        </ul>
    </div>
    <button class="add-post-btn"><a href="/dashboard/addPost">Add a new post</a></button>
</div>