<div>
    <div>
        <h2>Your Posts</h2>
        <ul>
            {{#each posts as |post|}}
            <li>
                <a href='/dashboard/{{post.id}}'>{{post.title}}</a>
                <p>{{post.body}}</p>
                <p>{{post.created_at}}</p>
            </li>
            {{/each}}
        </ul>
    </div>
    <button><a href="/dashboard/addPost">Add a new post</a></button>
</div>