<h1>Add a new Post!</h1>
<form>
    <input type="text" placeholder="Post title" id="postTitle">
    <input type="text" placeholder="New post here" id="postBody">
    <button id="post-btn">Add Post</button>
</form>
<script src="../javascript/addPost.js"></script>