<div>
    <h1>
        login!
    </h1>
    <form> 
        login form here!
    </form>
    <p>don't have an accont yet?</p>
    <h1>
        Sign up!
    </h1>
    <form>
        sing up form here
    </form>
</div>