<div>
    <h1>
        Sign up!
    </h1>
    <form>
        sing up form here
    </form>
    <p>all ready signed up?</p>
    <h1>
        login!
    </h1>
    <form> 
        login form here!
    </form>
</div>