<div>
    <h1>
        login!
    </h1>
    <form> 
        login form here!
    </form>
    <p>don't have an accont yet?</p>
    <h1>
        Sign up!
    </h1>
    <form>
        <input type="text" placeholder="Username" id="username-signup"/>
        <input type="email" placeholder="Email" id="email-signup"/>
        <input type="password" placeholder="Password" id="password-signup"/>
        <button id="signup-btn">Sign up</button>
    </form>
</div>
<script src="javascript/signup.js"></script>