<h2>Update your post</h2>
<form>
    <input type="text" value="{{post.title}}" id="postTitle">
    <input type="text" value="{{post.body}}" id="postBody">
    <button id="updatePost-btn">Update post</button>
    <button id="deletePost-btn">Delete post</button>
</form>

<script src="../javascript/updatePost.js"></script>
<script src="../javascript/logout.js"></script>